.loading {
    display: flex;
    gap: 0.25rem;
    align-items: flex-end;
    width: fit-content;
    padding: 1rem 1.25rem;
    background-color: #f1f0f0;
    border-radius: 1.5rem;

    .loading__text {
        color: #322b5d;
        opacity: 0.8;
    }

    .loading__dot {
        width: 3px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #322b5d;
        margin-bottom: 6px;
        animation: loading-dot 1.2s infinite;
    }

    .loading__dot:nth-of-type(2) {
        animation-delay: 0.2s;
    }

    .loading__dot:nth-of-type(3) {
        animation-delay: 0.4s;
    }
}

@keyframes loading-dot {
    0%,
    60%,
    100% {
        opacity: 0.2;
    }

    30% {
        opacity: 1;
    }
}
