.message {
    display: flex;

    .message__bubble {
        max-width: 70%;
        padding: 0.5rem 0.75rem;
        border-radius: 1.5rem;
        background-color: #f1f0f0;
        color: #322b5d;
        position: relative;
        word-break: break-word;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        .message__sender {
            font-size: 0.75rem;
            font-weight: 700;
            display: block;
            margin-bottom: 0.25rem;
            opacity: 0.7;
        }
    }
}

.message--user {
    justify-content: flex-end;

    .message__bubble {
        background-color: #7b68ee;
        color: #fefefe;

        ::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-right: 0;
            border-bottom: 0;
            border-left-color: #7b68ee;
            margin-top: -0.5rem;
            margin-right: -1rem;
        }
    }
}

.message--assistant {
    justify-content: flex-start;

    .message__bubble {
        ::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-left: 0;
            border-bottom: 0;
            border-right-color: #f1f0f0;
            margin-top: -0.5rem;
            margin-left: -1.25rem;
        }
    }
}
